{% extends "network/layout.html" %}

{% block body %}
    <div class="card p-3 mb-2">
        <h2>Following</h2>
    </div>

    {% for post in page_obj %}
        {% include "network/partials/post_card.html" with post=post %}
    {% empty %}
        <p class="text-center">No posts from users you follow.</p>
    {% endfor %}

    <!-- Pagination -->
    <nav>
        <ul class="pagination justify-content-center mt-4">

            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        Previous
                    </a>
                </li>
            {% endif %}

            <li class="page-item disabled">
                <span class="page-link">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        Next
                    </a>
                </li>
            {% endif %}

        </ul>
    </nav>


{% endblock %}